{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

    <form style="text-align: left;" action="/canzonialbum" method="POST">
        <input type="hidden" name="id" value="{{ songs[0].id_album  }}">
        <h2>Canzoni presenti in {{ songs[0].titolo_album }} <button class="hidden-button" style="float: right" name="delete_album" value=1><i class="fa fa-trash" aria-hidden="true"></i></button></h2>
    </form>

{% endblock %}


{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profile" class="hidden-link"><p class="left-content-entry">Back to Profile</p></a>
    <br>
    <a href="/artist/uploadsong" class="hidden-link"><p class="left-content-entry" >Carica canzone</p></a>
    <br>
    <a href="/artist/creaalbum" class="hidden-link"><p class="left-content-entry" style="color: blueviolet;">Crea Album</p></a>
    <br>
    <a href="/artist/dashboard" class="hidden-link"><p class="left-content-entry">Back to dashboard</p></a>
    <br>

{% endblock %}


{% block right_content %}

    <ul>
        {% for song in songs %}
            <li> 

                <form style="text-align: left;" action="/canzonialbum" method="POST">
                    <input type="hidden" name="id" value="{{ song.id_canzone  }}">
                    <p><a class="hidden-link" href="/player?id={{ song.id_canzone }}">{{ song.titolo_canzone  }}</a><button class="hidden-button" style="float: right" name="delete_song" value=1><i class="fa fa-trash" aria-hidden="true"></i></button></p>
                </form>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

