{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

    <h2>Crea album</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profile" class="hidden-link"><p class="left-content-entry">Back to Profile</p></a>
    <br>
    <a href="/artist/uploadsong" class="hidden-link"><p class="left-content-entry" >Carica canzone</p></a>
    <br>
    <a href="/artist/creaalbum" class="hidden-link"><p class="left-content-entry" style="color: blueviolet;">Crea Album</p></a>
    <br>
    <a href="/artist/dashboard" class="hidden-link"><p class="left-content-entry">Back to dashboard</p></a>
    <br>

{% endblock %}

{% block right_content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="flashed-message-error alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" style="float: right"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <fieldset>
        <form action="/artist/creaalbum" method="POST">
            <p>
                {{ form.hidden_tag() }}
            
                {{ form.titolo.label }}<br><br>
                {{ form.titolo(size=30, class="form") }} <br><br>

                {{ form.scadenza.label }}<br><br>
                {{ form.scadenza(size=30, class="form") }} <br><br>
                
                {{ form.anno.label }}<br><br>
                {{ form.anno(class="form") }} <br><br>

                {{ form.restricted.label }}<br><br>
                {{ form.restricted(class="form") }} <br><br>

                {{ form.singolo.label }}<br><br>
                {{ form.singolo(class="form") }} <br><br>
                
                {{ form.submit(size=30, class="button-2") }} <br><br>
            </p>
        </form>
    </fieldset>

{% endblock %}

{% block footer %}{% endblock %}