{% extends 'base-2.html' %}

{% block head %}
<style>

</style>
{% endblock %}

{% block header %}
    <span style="float: right; margin-right: 2%;">
        <a href="/profile"><button type="button" class="button-2">Profile</button></a>
        <a href="info"><button type="button" class="button-2">Info</button></a>
    </span>
{% endblock %}

{% block content %}
    <div>
        <h1 style="text-align: center;"><img src="{{ url_for('home_bp.static', filename='images/soundwave.png')}}" width="120px"> ECHOS</h1>
    </div>

    <h2 style="text-align: center;">Canzoni recenti</h2>
    <br>

    <table class="table table-hover table-dark" style="color: white; width: 70%; float: center; margin-left: 15%; margin-right: 15%;">
        <tr>
            <th></th>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Genere</th>
            <th>Anno</th>
            <th>Data inserimento</th>
        </tr>
        {% if canzoni %}
            {% for canzone in canzoni %}
                    <tr class='clickable-row' data-href='/player?id={{ canzone.id }}'>
                        <td>{{ loop.index }}°</td>
                        <td>{{ canzone.titolo }}</td>
                        <td>{{ canzone.nome_arte }}</td>
                        <td>{{ canzone.nome_genere }}</td>
                        <td>{{ canzone.data_uscita }}</td>
                        <td>{{ canzone.data_inserimento }}</td>
                    </tr>
            {% endfor %}
        {% else %}
            <tr>Non ci sono ancora canzoni</tr>
        {% endif %}
    </table>
    <br><br>

    
    <h2 style="text-align: center;">Canzoni popolari</h2>
    <br>

    <table class="table table-hover table-dark" style="color: white; width: 70%; float: center; margin-left: 15%; margin-right: 15%;">
        <tr>
            <th></th>
            <th>Titolo</th>
            <th>Autore</th>
            <th>Genere</th>
            <th>Anno</th>
            <th>Riproduzioni</th>
        </tr>
        {% if popolari %}
            {% for popolare in popolari %}
                    <tr class='clickable-row' data-href='/player?id={{ popolare.id }}'>
                        <td>{{ loop.index }}°</td>
                        <td>{{ popolare.titolo }}</td>
                        <td>{{ popolare.nome_arte }}</td>
                        <td>{{ popolare.nome_genere }}</td>
                        <td>{{ popolare.data_uscita }}</td>
                        <td>{{ popolare.n_riproduzioni }}</td>
                    </tr>
            {% endfor %}
        {% else %}
            <tr>Non ci sono ancora canzoni</tr>
        {% endif %}
    </table>
    <br><br>

    <br><br>
    <h2 style="text-align: center;">Artisti popolari</h2>
    <br>


    <table class="table table-hover table-dark" style="color: white; width: 30%; float: center; margin-left: 35%; margin-right: 35%;">
        <tr>
            <th></th>
            <th>Artista</th>
            <th style="text-align: center;">Livello di fama</th>
        </tr>
        {% if artisti %}
            {% for artista in artisti %}
                <tr>
                    <td>{{ loop.index }}°</td>
                    <td>{{ artista.nome_arte }}</td>
                    <td style="text-align: center;">{{ artista.fama }}</td>
                </tr>            
            {% endfor %}
        {% else %}
            <tr>Non ci sono ancora artisti</tr>
        {% endif %}
    </table>
    
    <br><br><br><br><br>


    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });
        });
    </script>
{% endblock %}

{% block footer %}{% endblock %}