@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

* {
    font-family: 'Red Hat Display';
}

img {
    vertical-align: middle;
}

h1 {
    text-align:center;
    font-size: 80px;
    color: white;
}

h2 {
    text-align:center;
    font-size: 50px;
    color: white;
}

h3 {
    text-align:center;
    font-size: 15px;
    color: white;
}

p {
    font-size: 20px;
    color: white;
}

a {
    text-decoration: underline;
    color: white;
}

fieldset {
    border: none;
}

.button {
    border: none;
    background-color: #8e4dff;
    text-align: center;
    padding: 10px 80px;
    font-size: 30px;
    border-radius: 25px;
}

.button-2 {
    border: none;
    background-color: #8e4dff;
    text-align: center;
    padding: 10px 30px;
    font-size: 15px;
    border-radius: 25px;
}

form {
    text-align:center;
    color: white;
}

.top-left-icon {
    margin-left: 30px;
    text-align:left;
    font-size: 20px;
    color: white;
}

.hidden-link {
    text-decoration: none;
    color: white;
}

.flashed-message-error {
    font-size: 15px;
    color: white;
    background: rgba(150, 0, 0, 0.5);
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    border: rgb(100, 0, 0);
    border: 10px;
    padding: 5px;
    border-radius: 5px;
    
}

.flashed-message-ok {
    font-size: 15px;
    color: white;
    background: rgba(0, 150, 0, 0.5);
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    border: rgb(0, 100, 0);
    border: 10px;
    padding: 5px;
    border-radius: 5px;
    
}