{% extends 'base-2.html' %}

{% block head %}{% endblock %}

{% block header %}

    <h2 style="border-bottom: 1px solid white; padding-bottom: 20px;">Pending requests</h2>

{% endblock %}

{% block content %}


    {% if request %}
        
        {% for request in requests %}

            <p class="request">
                
                {{ request.id_utente }} - {{ request.nome_arte }} - {{ request.motivazione }}
                
                <button style="float: right">Accept</button>
                <button style="float: right">Reject</button>
            
            </p>

        {% endfor %}

    {% else %}

         <p>No requests pending</p>

    {% endif %}

{% endblock %}

{% block footer %}{% endblock %}