{% extends 'base-2.html' %}

{% block head %}{% endblock %}

{% block header %}

    <h2 style="border-bottom: 1px solid white; padding-bottom: 20px;">Pending requests</h2>

{% endblock %}

{% block content %}


    {% if request %}
        
        {% for request in requests %}

            <form class="request" action="/admin" method="POST">
                
                {{ request.id_utente }} - {{ request.nome_arte }} - {{ request.motivazione }}
                
                <input type="hidden" name="id_utente" value="{{ request.id_utente }}">
                <button style="float: right" type="submit" name="accept" value=1>Accept</button>
                <button style="float: right" type="submit" name="reject" value="1">Reject</button>
                
            </form>
            <br>

        {% endfor %}

    {% else %}

         <p>No requests pending</p>

    {% endif %}

{% endblock %}

{% block footer %}{% endblock %}