{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

<h2>Artist Dashboard</h2>

{% endblock %}

{% block left_content %}

    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Profile info</p></a>
    <br>
    <p class="left-content-entry" style="color: blueviolet;">Artist Dashboard</p>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>

{% endblock %}


{% block right_content%}

{% if artist %}
    
    <p> Welcome to your dashboard, {{ formArtista.nome_arte }}</p>

 {% elif not artist and  richiesta_effettuata%}
    <div style="text-align: center">
        <br><br>
        <p>Got some good music to share with the world?</p>
        <p>Become an artist!</p>
        <br><br>

        <hr style="width: 50vw; border-style: dotted; color: white;">

        <form>
            <p>
            {{ formRichieste_diventa_artista.hidden_tag() }}
            {{ formRichieste_diventa_artista.nome_arte.label }} <br><br>
            {{ formRichieste_diventa_artista.nome_arte(class="form") }} <br><br>


            {{ formRichieste_diventa_artista.stato_richiesta.label }} <br><br>
            {{ formRichieste_diventa_artista.stato_richiesta(class="form") }} <br><br>
            
            {{ formRichieste_diventa_artista.info.label }} <br><br>
            {{ formRichieste_diventa_artista.info(class="form-field", rows=10) }} <br><br><br><br><br><br><br><br>
            
            {{ formRichieste_diventa_artista.submit(class="button-2") }}
            </p>
        </form>
    </div>

{% endif %}

{% endblock %}