{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

    <h2>Dashboard Artisti</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Informazioni personali</p></a>
    <br>
    <p class="left-content-entry" style="color: blueviolet;">Dashboard Artisti</p>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>

{% endblock %}


{% block right_content%}

    {% if artist %} <!-- se è già artista mostra la dashboard-->
        
        <p> Ecco la tua dashboard, {{ nome_arte }}</p>

    {% endif %}

    {% if artist == False and richiesta_effettuata != 0 %} <!-- se non è già artista e ha già inviato una richiesta (!= 0) mostra lo stato della richiesta -->

        {% if request_status == 1 %} <!-- in attesa di approvazione -->
            
            <p> Stato della richiesta: PENDING</p>

        {% elif  request_status == -1 %} <!-- rifiutata -->

            <p> Stato della richiesta: REFUSED</p>

        {% endif %}
        
    {% endif %}
    
    {% if artist == False and request_status == 0 %} <!-- altrimenti mostra il form di richiesta -->

        <div style="text-align: center">
            <br><br>
            <p>Feel artistic inside? Become an artist now!</p>
            <br>

            <hr style="width: 50vw; border-style: dotted; color: white;">

            <br>
            <form action="/artist" method="POST">
                <p>
                    {{ form.hidden_tag() }}

                    {{ form.nome_arte.label }} <br><br>
                    {{ form.nome_arte(size=30, class="form") }} <br><br>
                    
                    {{ form.motivazione.label }} <br><br>
                    {{ form.motivazione(rows = 5, class="form-field") }} <br><br><br><br><br>
                
                    {{ form.submit(size=30, class="button-2") }}
                </p>
            </form>
        </div>

    {% endif %}

{% endblock %}