{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

<h2>Artist Dashboard</h2>

{% endblock %}

{% block left_content %}

    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Profile info</p></a>
    <br>
    <p class="left-content-entry" style="color: blueviolet;">Artist Dashboard</p>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>

{% endblock %}

{% block right_content%}

{% if artist %}
    
    <p> Welocme to your dashboard, {{ nome_arte }}</p>

{% else %}
    <div style="text-align: center">
        <br><br>
        <p>Got some good music to share with the world?</p>
        <p>Become an artist!</p>
        <br><br>

        <hr style="width: 50vw; border-style: dotted; color: white;">

        <form>
            <p>
            {{ form.hidden_tag() }}

            {{ form.nome_arte.label }} <br><br>
            {{ form.nome_arte(class="form") }} <br><br>
            
            {{ form.info.label }} <br><br>
            {{ form.info(class="form-field", rows=10) }} <br><br> <br><br> <br><br> <br><br>
            
            {{ form.submit(class="button-2") }}
            </p>
        </form>
    </div>

{% endif %}

{% endblock %}