<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ECHOS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main-2.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">

        {% block head %}{% endblock %}

    </head>
    <body style="background-color:#2B0078;">
        <div class="container-custom">
            <div class="logo">
                <a href="/" class="hidden-link"><p><img src="{{ url_for('static', filename='images/soundwave.png')}}" height="30" width="30"> ECHOS</p></a>
            </div>
            <div class="header">

                {% block header %}{% endblock %}

            </div>
            <div class="content">

                {% block content %}{% endblock %}

            </div>
            <div class="footer">

                {% block footer %}{% endblock %}

            </div>
            
        </div>
        </body>
</html>