<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
      
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">

        <link rel="stylesheet" href="{{ url_for('static', filename='main-1.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <script src="https://use.fontawesome.com/d8805b6d62.js"></script>

        {% block head %}{% endblock %}

    </head>
    <body>
        <div class="container-custom">
            <div class="logo">
                    <a href="/" class="hidden-link"><p><img src="{{ url_for('static', filename='images/soundwave.png')}}" height="30" width="30"> ECHOS</a>
                    
                        <!-- Trigger the modal with a button -->
                        <button type="button" class="button-2" data-toggle="modal" data-target="#myModal" style="float: right;">Open Player</button>

                        <!-- Modal -->
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                            
                                <!-- Modal content-->
                                <div class="modal-content" style="width: 52vw; height: 68vh; background: #2B0078;">

                                    <div class="modal-header"></div>

                                    <div class="modal-body">
                                        
                                        <iframe src="http://127.0.0.1:5000/player?id=6"></iframe>
                                    
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="button-2" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                            
                            </p>
                    </div>
                    <div class="header">


                {% block header %}{% endblock %}

            </div>
            <div class="footer">

                {% block footer %}{% endblock %}

            </div>
            <div class="left-content">

                {% block left_content %}{% endblock %}

            </div>
            <div class="right-content">

                {% block right_content %}{% endblock %}

            </div>
        </div>
        </body>
</html>