{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}
    <h2>Crea una playlist</h2>
{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Informazioni personali</p></a>
    <br>
    <a href="/creaplaylist" class="hidden-link"><p class="left-content-entry" style="color: blueviolet;">Crea playlist</p></a>
    <br>
    <a href="/artist" class="hidden-link"><p class="left-content-entry">Dashboard Artisti</p></a>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>

{% endblock %}

{% block right_content %}

    

{% endblock %}

{% block footer %}{% endblock %}