{% extends 'base-1.html' %}

{% block head %}
    <style>
        .owl-item > div {
            cursor: pointer;
            margin: 16% 18%;
            transition: margin 0.4s ease;
          }
          .owl-item.center > div {
            cursor: auto;
            margin: 0;
          }
          .owl-item:not(.center) > div:hover {
            opacity: .75;
          }

          .flip-card {
            background-color: transparent;
            width: 300px;
            height: 350px;
            border-radius: 12px;
            perspective: 1000px;
          }
          
          .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            border-radius: 12px;
            transition: transform 1.5s;
            transform-style: preserve-3d;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          }
          
          .flip-card:focus {
              outline: 0;
          }
          
          .flip-card:hover .flip-card-inner,
          .flip-card:focus .flip-card-inner{
            transform: rotateY(180deg);
          }
          
          .flip-card-front,
          .flip-card-back {
            position: absolute;
            width: 100%;
            border-radius: 12px;
            height: 100%;
            backface-visibility: hidden;
          }
          
          .flip-card-front {
            background: linear-gradient(to left, #8243f7, #a06ffc);
            color: black;
            z-index: 2;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .flip-card-back {
            background: linear-gradient(to right,#8243f7, #a06ffc);
            color: white;
            transform: rotateY(180deg);
          }
          
          
    </style>
{% endblock %}

{% block header %}

    <h2>Dashboard di {{ user }}</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profile" class="hidden-link"><p class="left-content-entry">Back to Profile</p></a>
    <br>
    <a href="/artist/uploadsong" class="hidden-link"><p class="left-content-entry">Carica canzone</p></a>
    <br>
    <a href="/artist/creaalbum" class="hidden-link"><p class="left-content-entry">Crea Album</p></a>
    <br>
    <a href="/artist/statistiche" class="hidden-link"><p class="left-content-entry">Statistiche</p></a>
    <br>
    <a href="/search" class="hidden-link"><p class="left-content-entry">Cerca</p></a>
    <br>

{% endblock %}

{% block right_content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="flashed-message-error alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" style="float: right"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

        <h2 style="text-align: center;">I tuoi album</h2>

        <div>
            
        </div>

        <div class="container">
            <div class="owl-carousel">
                {% if albums %}
                    
                    {% for album in albums %}

                        <div class="flip-card" tabIndex="{{loop.index}}">
                            <div class="flip-card-inner">
                                <div class="flip-card-front">
                                    <h2 style="text-align: center;">{{ album.titolo }}</h2>
                                </div>
                                <div class="flip-card-back">
                                    
                                    <a class="hidden-link" href="/canzonialbum?id_album={{album.id_album}}"><h2 style="text-align: center;">{{album.titolo}}<h2></a><br>
                                    <p style="text-align: center;">{{album.anno}}</p>
                                    
                                    <p>Singolo: {{ album.singolo }}</p>
                                    <p>Riservato: {{album.restricted}}</p>
                                    {% if album.id_canzoni %}
                                        <p>Sono presenti canzoni</p>
                                    {% else %}
                                        <p>Non ci sono ancora canzoni</p>
                                    {% endif %}

                                    {% if album.scadenza %}
                                        <p style="color: darkorange;">Questo album scade il {{ album.scadenza }}</p>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        <br>
                                            
                    {% endfor %}
                    
                {% else %}
                        
                        <p>Non hai ancora pubblicato nessun album</p>
                
                {% endif %}
            </div>
        </div>
            
        

    <p>Le tue canzoni</p>

    <ul>
        {% if songs %}
            
            {% for song in songs %}

            <li class="song-entry">
                <a href="/player?id={{ song.id }}" class="hidden-link"><p>{{ song.titolo }} - {{ song.data_uscita }}</p></a>
            </li>
                                    
            {% endfor %}
            
        {% else %}
                
                <p>Non hai ancora pubblicato nessun album</p>
        
        {% endif %}
    </ul>

    <br>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src=""></script>
    <script type="text/javascript">
        var $owl = $('.owl-carousel');

        $owl.children().each( function( index ) {
        $(this).attr( 'data-position', index ); // NB: .attr() instead of .data()
        });

        $owl.owlCarousel({
        center: true,
        loop: false,
        items: 6,
        });

        $(document).on('click', '.owl-item>div', function() {
        var $speed = 300;  // in ms
        $owl.trigger('to.owl.carousel', [$(this).data( 'position' ), $speed] );
        });
    </script>

{% endblock %}

{% block footer %}{% endblock %}