{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

    <h2>Dashboard di {{ user }}</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profile" class="hidden-link"><p class="left-content-entry">Back to Profile</p></a>
    <br>
    <a href="/artist/uploadsong" class="hidden-link"><p class="left-content-entry">Carica canzone</p></a>
    <br>
    <a href="/artist/creaalbum" class="hidden-link"><p class="left-content-entry">Crea Album</p></a>
    <br>

{% endblock %}

{% block right_content %}

        <p>I tuoi album</p>

        <ul>
            {% if albums %}
                
                {% for album in albums %}

                <li class="album-entry">
                    <p>{{ album.titolo }} by {{ album.id_artista }}</p>
                </li>
                                        
                {% endfor %}
                
            {% else %}
                    
                    <p>Non hai ancora pubblicato nessun album</p>
            
            {% endif %}
        </ul>

        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for i in range(length) %}
                    <li data-target="#carouselExampleIndicators" data-slide-to=i {% if loop.index == 1 %}class="active"{% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for album in albums %}
                <div class="carousel-item{% if loop.index == 1 %} active{% endif %}" style="text-align: center;">
                        <div class="artboard">
                            <div class="card">
                        
                            <div class="card__side card__side--back">
                            <div class="card__cover">
                            <h4 class="card__heading">
                                <span class="card__heading-span">Brani</span>
                            </h4>
                            </div>
                            <div class="card__details">
                            <ul>
                                <li>Advanced JS and CSS</li>
                                <li>JS/CSS Preprocessors</li>
                                <li>JS Frameworks</li>
                                <li>Advanced Animations</li>
                                <li>Deployment Pipelines</li>
                                <li>Large Apps Architectures</li>
                                <li>Naming Conventions</li>
                                <li>Advanced JS and CSS</li>
                            </ul>
                            </div>
                            </div>
                        
                            <div class="card__side card__side--front">
                            <div class="card__theme">
                            <div class="card__theme-box">
                                <p class="card__subject">{{ user }}</p>
                                <p class="card__title">{{ album.titolo }}</p>
                            </div>
                            </div>
                            </div>
                        
                            </div>
                        </div>
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>

    

    <p>Le tue canzoni</p>

    <ul>
        {% if songs %}
            
            {% for song in songs %}

            <li class="song-entry">
                <button type="button" class="hidden-button" data-toggle="modal" data-target="#myModal"><p>{{ song.titolo }} - {{ song.data_uscita }}</p></button>
                <!-- "/player?id={{ song.id }}" !-->
                <br>
            </li>
                                    
            {% endfor %}
            
        {% else %}
                
                <p>Non hai ancora pubblicato nessun album</p>
        
        {% endif %}
    </ul>


    <p>Statistiche</p>

{% endblock %}

{% block footer %}{% endblock %}