{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

    <h2>Dashboard di {{ user }}</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profile" class="hidden-link"><p class="left-content-entry">Back to Profile</p></a>
    <br>
    <a href="/artist/uploadsong" class="hidden-link"><p class="left-content-entry">Carica canzone</p></a>
    <br>
    <a href="/artist/creaalbum" class="hidden-link"><p class="left-content-entry">Crea Album</p></a>
    <br>

{% endblock %}

{% block right_content %}

        <p>I tuoi album</p>

        <ul>
            {% if albums %}
                
                {% for album in albums %}

                <li class="album-entry">
                    <p>{{ album.titolo }} by {{ album.id_artista }}</p>
                </li>
                                        
                {% endfor %}
                
            {% else %}
                    
                    <p>Non hai ancora pubblicato nessun album</p>
            
            {% endif %}
        </ul>

            

    <p>Le tue canzoni</p>

    <ul>
        {% if songs %}
            
            {% for song in songs %}

            <li class="song-entry">
                <button type="button" class="hidden-button" data-toggle="modal" data-target="#myModal"><p>{{ song.titolo }} - {{ song.data_uscita }}</p></button>
                <!-- "/player?id={{ song.id }}" !-->
                <br>
            </li>
                                    
            {% endfor %}
            
        {% else %}
                
                <p>Non hai ancora pubblicato nessun album</p>
        
        {% endif %}
    </ul>


    <p>Statistiche</p>

{% endblock %}

{% block footer %}{% endblock %}