{% extends 'base-2.html' %}

{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div>
    <h1 style="text-align: center;"><img src="{{ url_for('static', filename='images/soundwave.png')}}" width="120px"> ECHOS</h1>
</div>
<div style="text-align: center;">

    <a href=profile><button type="button" class="button">Profile</button></a>
    <br><br>
    <a href=info><button type="button" class="button">Info</button></a>
   
</div>
{% endblock %}

{% block footer %}{% endblock %}