{% extends 'base-2.html' %}

{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<h2 style="text-align: center">Proudly developed by:</h2>

<div style="text-align: center">
    <br>
    <p>NumenMirus<br>JeremyFamengo<br>Michele</p>
</div>

<form>
    <INPUT TYPE="button" VALUE="Torna alla Home" 
    onClick="history.go(-1);return true;" 
    style="background-color: #ce401c; 
    width: 10em;
    padding: .5em;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000;
    font: 16px Arial, Helvetica, sans-serif;
    border: solid thin #882d13;
    -webkit-border-radius: .7em;
    -moz-border-radius: .7em;
    border-radius: .7em;
    background-image: -webkit-gradient(linear, left top, left bottom,
    from(#e9ede8), to(#ce401c),color-stop(0.4, #8c1b0b));">
    </form>
        
{% endblock %}

{% block footer %}{% endblock %}

