{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flashed-message-error">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<h2>Login</h2>

    <form action="/login" method="POST">
        <p>
            {{ form.hidden_tag() }}

            {{ form.email.label }} <br>
            {{ form.email(size=30, class="form") }} <br><br>
            
            {{ form.psw.label }} <br>
            {{ form.psw(size=30, class="form") }} <br><br>
        
            {{ form.submit(size=30, class="button-2") }}
        </p>
    </form>

<br><br>
<div style="text-align: center">
    <p>New to ECHOS?<br><a href="/register"> Sign in</a></p>
</div>

{% endblock %}