{% extends 'base.html' %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
</style>

<div style="margin-left: 30px; text-align:left; font-size: 20px; font-family: 'Red Hat Display', sans-serif; color: white;">
    <br>
    <a href="/" style="text-decoration: none; color: white;"><p><img src="{{ url_for('static', filename='images/soundwave.png')}}" height="30" width="30"> ECHOS</p></a>
</div>
{% endblock %}

{% block body %}
<div style="text-align:center; font-size: 50px; font-family: 'Red Hat Display', sans-serif; color: white;">
    <p>Login</p>
</div>

<fieldset>
    <form action="/login" method="POST">
        <p style="text-align:center; font-family: 'Red Hat Display', sans-serif; color: white;">
        <label for="fname">Email:</label><br>
        <input name="user" type="text" placeholder="Insert Name"><br><br>
        <label for="lname">Password:</label><br>
        <input name="pass" type="password" placeholder="Insert Password"><br><br><br>
        <input type="submit" value="Accedi" style="border: none; background-color: #8e4dff; text-align: center; padding: 10px 30px; font-size: 15px; border-radius: 25px;">
        </p>
    </form>
</fieldset>
<br><br>
<p style="text-align:center; font-family: 'Red Hat Display', sans-serif; color: white;">New to ECHOS?<br><a href="/register" style="text-decoration: underline; color: white;"> Sign in</a></p>
{% endblock %}