<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ECHOS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='main-2.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        

    </head>
    <body style="background-color:#222222;">
        <div class="container-custom">
            <div class="logo">

            </div>
            <div class="header-full">
                <h2 style="text-align: center;">{{ canzone.titolo }}</h2>
                <hr style="color: white;">
            </div>
            <div class="content">
                <div>

                    {% if not riservato  %}

                        <p class="song-data">Autore: {{ artista }}</p>
                        <p class="song-data">Genere: <a class="hidden-link" data-toggle="tooltip"  href="#" data-placement="right" title="{{ descrizione }}">{{ genere }}</a></p>
                        <p class="song-data">Data di uscita: {{ canzone.data_uscita }}</p>
                        <p class="song-data">Durata: {{ canzone.durata }} secondi</p>

                        {% if canzone.scadenza %}
                            <p style="text-align: center; color: darkorange">Edizione limitata, scade il {{ canzone.scadenza }}</p>        
                        {% endif %}
                        
                        <br><br>
                        <div style="text-align: center;"><audio controls><source src=""></audio></div>

                    {% else %}

                        <h2 style="text-align: center; color: darkorange">Devi essere un utente premium per accedere a questo contenuto</h2>
                        
                    {% endif %}

                </div>

                <div style="text-align: center;"><input type="button" value="Torna Indietro" class="button-2" onClick="history.go(-1);"></div>
            
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip(); 
            });
        </script>

        </body>
        
</html>