{% extends 'base-1.html' %}

{% block head %}{% endblock %}


{% block header %}

<h2>Playlist</h2>
    <div class="search-box">
        <input type="text" placeholder="search..." />
        <a href="##" class="icon">
            <i class="fa fa-search"></i>
        </a>
    </div>

{% endblock %}

{% block footer %}{% endblock %}

{% block right_content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="flashed-message-error alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" style="float: right"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <a href=creaplaylist><button type="button" class="button-2" style="float: right">Crea playlist</button></a>


    <h2>Le tue playlist</h2>
    <br>
    <ul>
        {% for playlist in playlists %}
            <li>
                <p><strong>{{ playlist.titolo }}{% if playlist.restricted %}</strong> <i>- questa playlist non è pubblica</i>{% endif %}</p>
            </li>
        {% endfor %}
    </ul>



    

{% endblock %}

{% block left_content %}
    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/playlist" class="hidden-link"><p class="left-content-entry">Le tue playlist</p></a>
    <br>
    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Informazioni personali</p></a>
    <br>
    <a href="/artist" class="hidden-link"><p class="left-content-entry">Dashboard Artisti</p></a>
    <br>
    <a href="/search" class="hidden-link"><p class="left-content-entry">Cerca</p></a>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>
{% endblock %}