{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

<h2>Profilo</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <p class="left-content-entry" style="color: blueviolet;">Informazioni personali</p>
    <br>
    <a href="/artist" class="hidden-link"><p class="left-content-entry">Dashboard Artisti</p></a>
    <br>
    <a href="/search" class="hidden-link"><p class="left-content-entry">Cerca</p></a>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    
{% endblock %}

{% block right_content %}

<br>

<fieldset>
    <form action="/profileinfo" method="POST">
        <p style="text-align: left;">
            {{ form.hidden_tag() }}

            {{ form.nome.label }}
            {{ form.nome(class="form-field") }} <br><br>

            {{ form.cognome.label }}
            {{ form.cognome(class="form-field") }} <br><br>

            {{ form.email.label }}
            {{ form.email(class="form-field") }} <br><br>

            {{ form.data_di_nascita.label }}
            {{ form.data_di_nascita(class="form-field") }} <br><br>  

            {{ form.submit1(size=30, class="button-2") }} <br><br>
        </p>
    </form>
</fieldset>

<fieldset>
    <form action="/profileinfo" method="POST">
        <h2>Cambia Password</h2>
        <p>
            {{ form2.hidden_tag() }}

            {{ form2.old_psw.label }} <br>
            {{ form2.old_psw(size=30, class="form") }} <br><br>

            {{ form2.psw.label }} <br>
            {{ form2.psw(size=30, class="form") }} <br><br>

            {{ form2.psw2.label }} <br>
            {{ form2.psw2(size=30, class="form") }} <br><br>
            
            {{ form2.submit2(size=30, class="button-2") }} <br><br>
        </p>
    </form>
</fieldset>

{% endblock %}

{% block footer %}{% endblock %}