{% extends 'base-1.html' %}

{% block head %}{% endblock %}


{% block header %}
<h2>Per te
    <div class="search-box" style=float:right>
        <input type="text" class="search" placeholder="Search...">
        <button type="button" class="bottone"><i class="fa fa-search" aria-hidden="true"></i></button>
    </div>
</h2>
{% endblock %}

{% block footer %}{% endblock %}

{% block right_content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <div class="flashed-message-error alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" style="float: right"></button>
            </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <p>Ben tornato, {{ user }}</p>

{% endblock %}

{% block left_content %}
    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Informazioni personali</p></a>
    <br>
    <a href="/artist" class="hidden-link"><p class="left-content-entry">Dashboard Artisti</p></a>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>
{% endblock %}