{% extends 'base-1.html' %}

{% block head %}{% endblock %}

{% block header %}

<h2>Your info</h2>

{% endblock %}

{% block left_content %}

    <p class="left-content-entry" style="color: blueviolet;">Profile info</p>
    <br>
    <a href="/artist" class="hidden-link"><p class="left-content-entry">Artist Dashboard</p></a>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>

{% endblock %}

{% block right_content %}

<fieldset>
    <form action="/register" method="POST">
        <p style="text-align: left;">
            {{ form.hidden_tag() }}

            {{ form.nome.label }}
            {{ form.nome(class="form-field") }} <br><br>

            {{ form.cognome.label }}
            {{ form.cognome(class="form-field") }} <br><br>

            {{ form.email.label }}
            {{ form.email(class="form-field") }} <br><br>

            {{ form.cf.label }}
            {{ form.cf(class="form-field") }} <br><br>

            {{ form.data_di_nascita.label }}
            {{ form.data_di_nascita(class="form-field") }} <br><br>  

            {{ form.submit(size=30, class="button-2") }} <br><br>
        </p>
    </form>
</fieldset>

<fieldset>
    <form>
        <h2>Change Password</h2>
        <p>
            {{ form2.old_psw.label }} <br>
            {{ form2.old_psw(size=30, class="form") }} <br><br>

            {{ form2.psw.label }} <br>
            {{ form2.psw(size=30, class="form") }} <br><br>

            {{ form2.psw2.label }} <br>
            {{ form2.psw2(size=30, class="form") }} <br><br>
            
            {{ form2.submit(size=30, class="button-2") }} <br><br>
        </p>
    </form>
</fieldset>

{% endblock %}

{% block footer %}{% endblock %}