{% extends 'base.html' %}

{% block head %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
</style>

<div class="top-left-icon">
    <br>
    <a href="/" class="hidden-link"><p><img src="{{ url_for('static', filename='images/soundwave.png')}}" height="30" width="30"> ECHOS</p></a>
    <a href="/logout" class="hidden-link"><p style="text-align: right; margin-right: 40px; ">Logout</p></a>
</div>
{% endblock %}

{% block body %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flashed-message-error">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div>
    <h2>Profile</h2>
    <br>
</div>
<div style="text-align: center">
    <p>Welcome back, {{ user }}</p>
</div>
{% endblock %}