{% extends 'base-2.html' %}

{% block head %}{% endblock %}

{% block header %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flashed-message-error">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock %}

{% block content %}

<h2 style="text-align: center;">Register</h2>

<fieldset>
    <form action="/register" method="POST">
        <p>
            {{ form.hidden_tag() }}

            {{ form.nome.label }} <br>
            {{ form.nome(size=30, class="form") }} <br><br>

            {{ form.cognome.label }} <br>
            {{ form.cognome(size=30, class="form") }} <br><br>

            {{ form.email.label }} <br>
            {{ form.email(size=30, class="form") }} <br><br>

            {{ form.cf.label }} <br>
            {{ form.cf(size=30, class="form") }} <br><br>

            {{ form.psw.label }} <br>
            {{ form.psw(size=30, class="form") }} <br><br>

            {{ form.psw2.label }} <br>
            {{ form.psw2(size=30, class="form") }} <br><br>

            {{ form.data_di_nascita.label }} <br>
            {{ form.data_di_nascita(size=30, class="form") }} <br><br>

            {{ form.submit(size=30, class="button-2") }} <br><br>
        </p>
    </form>
</fieldset>

{% endblock %}

{% block footer %}{% endblock %}