{% extends 'base-1.html' %}

{% block head %}
	<style>
		.form__group {
			position: relative;
			padding: 15px 0 0;
			margin-top: 10px;
			width: 50%;
		  }
		  
		  .form__field {
			font-family: inherit;
			width: 100%;
			border: 0;
			border-bottom: 2px solid #9b9b9b;
			outline: 0;
			font-size: 1.3rem;
			color: #fff;
			padding: 7px 0;
			background: transparent;
			transition: border-color 0.2s;
		  }
		  .form__field::placeholder {
			color: transparent;
		  }
		  .form__field:placeholder-shown ~ .form__label {
			font-size: 1.3rem;
			cursor: text;
			top: 20px;
		  }
		  
		  .form__label {
			position: absolute;
			top: 0;
			display: block;
			transition: 0.2s;
			font-size: 1rem;
			color: #9b9b9b;
		  }
		  
		  .form__field:focus {
			padding-bottom: 6px;
			font-weight: 700;
			border-width: 3px;
			border-image: linear-gradient(to right, #431199, #c738ef);
			border-image-slice: 1;
		  }
		  .form__field:focus ~ .form__label {
			position: absolute;
			top: 0;
			display: block;
			transition: 0.2s;
			font-size: 1rem;
			color: #11998e;
			font-weight: 700;
		  }
		  
		  /* reset input */
		  .form__field:required, .form__field:invalid {
			box-shadow: none;
		  }
	</style>
{% endblock %}

{% block header %}
    <h2>Cerca canzoni</h2>
{% endblock %}

{% block left_content %}
    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
	<a href="/profile" class="hidden-link"><p class="left-content-entry">Per Te</p></a>
    <br>
    <a href="/playlist" class="hidden-link"><p class="left-content-entry">Le tue playlist</p></a>
    <br>
    <a href="/profileinfo" class="hidden-link"><p class="left-content-entry">Informazioni personali</p></a>
    <br>
    <a href="/artist" class="hidden-link"><p class="left-content-entry">Dashboard Artisti</p></a>
    <br>
    <a href="/search" class="hidden-link"><p class="left-content-entry" style="color: blueviolet;">Cerca</p></a>
    <br>
    <a href="/logout" class="hidden-link"><p class="left-content-entry">Logout</p></a>
    <br>
{% endblock %}

{% block right_content %}

<div class="form__group field">
    <div class="changeable"><input type="text" id="myInput_cercaCanzoni" onkeyup="search_canzoni()" placeholder="Ricerca" name="name" class="form__field"></div>
    <label for="myInput_cercaCanzoni" class="form__label">Cerca</label>
	<div style="clear: both;"></div>
</div>
{% if count_canzoni > 0  %}
				<div class="wrapper1">
					<div class="div1"></div>
				</div>
				<div class="wrapper2">
					<div class="div2">
						<table id="ele_canzoni" class="table" style="color: white;">
							<thead>
								<tr>
									<th>Titolo</th>
                                    <th>Artista</th>
                                    <th>Durata</th>
                                    <th>Genere</th>
                                    <th>Data di uscita</th>
								</tr>
							</thead>
							<tbody>
								{% for song in songs %}
                                    <tr>
                                        <td>{{ song.titolo }}</td>
                                        <td>{{ song.id_artista }}</td>
                                        <td>{{song.durata}}</td>
                                        <td>{{song.id_genere}}</td>
                                        <td>{{song.data_uscita}}</td>
										<td>
												<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
												<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
													<a class="dropdown-item" href="/player?id={{song.id}}">Info</a>
													<button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="background-color: white;border: none; color: black;">
														Aggiungi a playlist
													</button>
													<div class="dropdown-menu" aria-labelledby="dropdownMenuButton"x>
														
														{% for playlist in playlists %}
															{% if playlist %}
																<form action="/search" method="POST">
																	<input type="hidden" name="id_playlist" value="{{ playlist.id_playlist }}">
																	<input type="hidden" name="id_canzone" value="{{ song.id }}">
																	<button class="hidden-button" style="color: black; float: right" type="submit" name="add">{{ playlist.titolo }}</button>
																</form>
															{% else %}
																<p>No playlist</p>
															{% endif %}
															
														{% endfor %}
													</div>
												</div>
										</td>
                                    </tr>
                                {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<script>
					// // Ordinamento colonne
					// $('th').click(function() {
					// 	var table = $(this).parents('table').eq(0)
					// 	var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
					// 	this.asc = !this.asc
					// 	if (!this.asc) {
					// 		rows = rows.reverse()
					// 	}
					// 	for (var i = 0; i < rows.length; i++) {
					// 		table.append(rows[i])
					// 	}
					// })

					// function comparer(index) {
					// 	return function(a, b) {
					// 		var valA = getCellValue(a, index),
					// 			valB = getCellValue(b, index)
					// 		return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
					// 	}
					// }

					// function getCellValue(row, index) {
					// 	return $(row).children('td').eq(index).text()
					// }

					function search_canzoni() {
						var input, filter, table, tr, td, i;
						input = document.getElementById("myInput_cercaCanzoni");
						filter = input.value.toUpperCase();
						table = document.getElementById("ele_canzoni");
						tr = table.getElementsByTagName("tr");
						for (i = 0; i < tr.length; i++) {
							td = tr[i].getElementsByTagName("td")[0];
							td1 = tr[i].getElementsByTagName("td")[1];
							td2 = tr[i].getElementsByTagName("td")[2];
							td3 = tr[i].getElementsByTagName("td")[3];
							td4 = tr[i].getElementsByTagName("td")[4];

							if (td || td1 || td2 || td3 || td4) {
								if (td.textContent.toUpperCase().indexOf(filter) > -1) {
									tr[i].style.display = "";
								} else if (td1.textContent.toUpperCase().indexOf(filter) > -1) {
									tr[i].style.display = "";
								} else if (td2.textContent.toUpperCase().indexOf(filter) > -1) {
									tr[i].style.display = "";
								} else if (td3.textContent.toUpperCase().indexOf(filter) > -1) {
									tr[i].style.display = "";
								} else if (td4.textContent.toUpperCase().indexOf(filter) > -1) {
									tr[i].style.display = "";
								} else {
									tr[i].style.display = "none";
								}
							}
						}
					}
				</script>
        {% else %}
            <div class="alert">Nessun operatore inserito</div>
        {% endif %}



    
{% endblock %}

{% block footer %}{% endblock %}