{% extends 'base-1.html' %}

{% block head %}
    <style>
        @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
        @import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
        .accordion{
            transform: translateZ(0);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            background: #222222;
        }
        
        .accordion > .accordion-toggle{
            position: absolute;
            opacity: 0;
            display: none;
        }
        
        .accordion > label{
            position: relative;
            display: block;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            font-size: 25px;
            font-weight: 700;
            border-top: 1px solid #8e4dff;
            background: #222222;
            color: white;
            cursor: pointer;
        }
        
        .accordion > label:after {
          content: '\f078';
          position: absolute;
          top: 0px;
          right: 20px;
          font-family: fontawesome;
          transform: rotate(90deg);
          transition: .3s transform;
        }
        
        .accordion > section{
            height: 0;
            transition: .3s all;
            background-color: blueviolet;
            overflow: hidden;
        }
        
        .accordion > .accordion-toggle:checked ~ label:after{
         transform: rotate(0deg);
        }
        
        .accordion > .accordion-toggle:checked ~ section{
          height: auto;
        }
        
        .accordion > section p {
          margin: 15px 0;
          padding: 0 20px;
          font-size: 20px;
          line-height: 1.5;
        }
          
    </style>
{% endblock %}

{% block header %}

    <h2>Le tue statistiche</h2>

{% endblock %}

{% block left_content %}

    <a href="/" class="hidden-link"><p class="left-content-entry">Home</p></a>
    <br>
    <a href="/profile" class="hidden-link"><p class="left-content-entry">Back to Profile</p></a>
    <br>
    <a href="/artist/uploadsong" class="hidden-link"><p class="left-content-entry">Carica canzone</p></a>
    <br>
    <a href="/artist/creaalbum" class="hidden-link"><p class="left-content-entry">Crea Album</p></a>
    <br>
    <a href="/artist/statistiche" class="hidden-link"><p class="left-content-entry" style="color: blueviolet;">Statistiche</p></a>
    <br>
    <a href="/search" class="hidden-link"><p class="left-content-entry">Cerca</p></a>
    <br>
    <a href="/artist/dashboard" class="hidden-link"><p class="left-content-entry">Back to dashboard</p></a>
    <br>

{% endblock %}

{% block right_content %}

    <br>
        {% if canzoniPerAlbum %}
            {% for ele in canzoniPerAlbum %}
            
                <div class="accordion">
                    <input id="toggle{{ loop.index }}" type="radio" class="accordion-toggle" name="toggle" />
                    <label for="toggle{{ loop.index }}"><strong>{{ ele[0].titolo_album }}</strong></label>
                    <section>
                        {% if ele[0].id_canzone %}
                        
                            <ul>
                                {% for canzone in ele %}
                                <a class="hidden-link" href="/player?id={{ canzone.id_canzone }}"><li><p><span style="font-weight:bold;">{{ canzone.titolo_canzone  }}</span>: Riprodotta {{canzone.n_riproduzioni}} volte</p></li></a>
                                {% endfor %}
                            </ul>
                            
                        {% else %}
                            <p>Non hai ancora inserito canzoni</p>
                        {% endif %}
                    </section>
                </div>
                    
                
            {% endfor %}
        {% else %}
                <p>Non hai ancora delle statistiche</p>
        {% endif %}
    

{% endblock %}


{% block footer %}{% endblock %}