<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ECHOS</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        
        <!--CSS Fontawesome-->
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css">      

        <link rel="stylesheet" href="{{ url_for('static', filename='main-2.css')}}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">


        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        {% block head %}{% endblock %}

    </head>
        <div class="container-custom">
            <div class="logo">

                <a href="/" class="hidden-link"><p><img src="{{ url_for('static', filename='images/soundwave.png')}}" height="30" width="30"> ECHOS</p></a>

            </div>
            <div class="header">

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                        <!-- Modal content-->
                        <div class="modal-content" style="width: 52vw; height: 68vh; background: #222222;">

                            <div class="modal-header"></div>

                            <div class="modal-body">
                                <iframe src="http://127.0.0.1:5000/info"></iframe>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="button-2" data-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>
                    
            </div>
            <div class="header">

                {% block header %}{% endblock %}

            </div>
            <div class="content">

                {% block content %}{% endblock %}

            </div>
            <div class="footer">

                {% block footer %}{% endblock %}

            </div>
            
        </div>
        </body>
        
</html>